@import "tailwindcss";

@plugin "daisyui" {
  themes: dracula --default;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-inria-serif);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

span {
  @apply text-primary m-0 p-0 leading-0 font-semibold
}